/* General Styles */

/* Toolbar Styles */
.toolbar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    position: relative;
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 100;
}

.dropdown-menu div {
    cursor: pointer;
    margin: 5px 0;
}

/* Improved Button Styles */
.toolbar button, .toolbar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    outline: none;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

tbody tr:nth-child(even) {
    background-color: #fafafa;
}
 
/* Pagination Styling */



.dropdown-menu {
    display: none; /* Hide dropdown by default */
    position: absolute;
    left: 0;
    top: 100%; /* Position below the button */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 100;
}

.dropdown-menu.show {
    display: block; /* Show dropdown */
}

.dropdown-menu div {
    cursor: pointer;
    margin: 5px 0;
}

.columnButton{
    display: inline;
}


.addButton {
    background-color: rgb(226, 102, 0) !important;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    position: absolute;
    right: 0px;
}

.add-dropdown {
    position: absolute;
    right: 0px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: block;
    top: 41px;
}

.add-dropdown div {
    padding: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.add-dropdown div:hover {
background-color: #FEB941;
}



.pagination-controls {
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
    /* margin-top: 20px; */
    font-size: 16px;
    color: #333;
}

.pagination-controls button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.pagination-controls button:disabled {
    opacity: 0.5;
    cursor: default;
}

.pagination-controls button img {
    transition: transform 0.3s ease;
}

.pagination-controls button:not(:disabled):hover img {
    transform: scale(1.1);
}

.pagination-controls span {
    margin: 0 15px;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.page-size-dropdown {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.page-size-dropdown select {
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.pagination-controls {
    display: flex;
    align-items: center;
}

.pagination-controls span {
    margin-right: 20px;
}

.pagination-controls button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.pagination-controls button:disabled {
    opacity: 0.5;
    cursor: default;
}

.pagination-controls button img {
    transition: transform 0.3s ease;
}

.pagination-controls button:not(:disabled):hover img {
    transform: scale(1.1);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Darker overlay for better focus */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050; /* Higher z-index */
    animation: fadeIn 0.3s; /* Smooth fade-in effect */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal-content {
    background: #fff;
    padding: 30px;
    border-radius: 12px; /* More pronounced rounded corners */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* Deeper shadow for 3D feel */
    width: 90%;
    max-width: 600px;
    animation: slideIn 0.3s; /* Smooth slide-in effect */
    overflow: hidden;
}

.modal-body {
    max-height: 80vh; /* Adjust based on your design needs */
    overflow-y: auto; /* Scrollable content */
    padding-right: 10px; /* Adjust padding if necessary to avoid scrollbar overlap */
}

@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #666; /* Subtle color */
    transition: color 0.2s; /* Smooth color transition */
}

.close-button:hover {
    color: #222; /* Darken color on hover for interaction feedback */
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group label {
    flex-basis: 40%;
    margin-right: 10px;
    color: #333; /* Darker text for better readability */
    font-size: 16px; /* Larger font size */
}

.form-group input[type="text"]{
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #ccc; /* Thicker border */
    border-radius: 8px; /* Rounded edges */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transitions for interactions */
    width: 100%; /* Ensures full-width */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.form-group select {
    height: 39.33px;
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #ccc; /* Thicker border */
    border-radius: 8px; /* Rounded edges */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transitions for interaction */
    width: 100%; /* Ensures full-width */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    appearance: none; /* Removes default system styling */
    background-color: #fff; /* White background */
    cursor: pointer; /* Pointer cursor on hover */
    position: relative; /* Position relative for placing the arrow icon */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M1.5%203h9l-4.5%204.5L1.5%203z%22%20fill%3D%22%23000%22%20fill-opacity%3D%220.54%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 12px center; /* Arrow icon position */
    background-size: 12px; /* Size of the arrow icon */
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  
/* Custom styles for options in the dropdown */
.form-group option {
    padding: 10px;
    background-color: #fff; /* White background */
    color: #333; /* Text color */
}

.form-group option:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
}

.form-group input[type="text"]:focus {
    border-color: rgb(226, 102, 0); /* Highlight color on focus */
    box-shadow: 0 0 8px rgba(0, 86, 179, 0.2); /* Subtle glow effect */
}





.submit-button:hover {
    background-color: rgb(226, 102, 0); /* Darker blue on hover for interaction feedback */
}


.form-buttons {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 20px; /* Add space between the buttons */
    margin-top: 30px;
}

.submit-button, .cancel-button {
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.submit-button {
    background-color: rgb(226, 102, 0);
    color: white;
    border: none;
}

.cancel-button {
    background-color: transparent;
    color: rgb(226, 102, 0);
    border: 2px solid rgb(226, 102, 0);
}

.cancel-button:hover {
    background-color: rgb(226, 102, 0);
    color: white;
}

.submit-button:hover {
    background-color: rgb(184, 83, 1); /* Darker blue on hover for interaction feedback */
}


.delete-confirm-button {
    background-color: #dc3545; /* Bootstrap danger color */
    color: white;
    border: none;
}

.delete-confirm-button:hover {
    background-color: #c82333; /* A slightly darker red for hover */
}

.cancel-button {
    background-color: transparent;
    color: #6c757d; /* Bootstrap secondary color */
    border: 2px solid #6c757d;
}

.cancel-button:hover {
    background-color: #6c757d;
    color: white;
}



.mapping-interface-container {
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    width: 90%;
    max-width: 800px; /* Adjust width for better layout of the table */
    margin: 20px auto; /* Centering the container */
}
.mapping-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.mapping-table th, .mapping-table td {
    text-align: left;
    padding: 0; /* Remove padding to let the input fill the cell */
    border-bottom: 1px solid #ccc;
}

.mapping-table th {
    background-color: #f4f4f4;
    color: #333;
    padding: 12px; /* Keep padding for header cells */
}

.mapping-table td input[type="text"] {
    width: 100%;
    border: none; /* Remove border */
    padding: 12px; /* Same padding as cell for visual consistency */
    box-sizing: border-box; /* Include padding in width */
    font-size: 16px; /* Match font size */
    background: none; /* Remove any background */
    color: inherit; /* Use the text color of the cell */
}

.mapping-table td input[type="text"]:focus {
    outline: none;
    background-color: #eef4ff; /* Light blue background on focus for visibility */
}

.submit-mapping-button {
    background-color: rgb(226, 102, 0) !important;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submit-mapping-button:hover {
    background-color: rgb(184, 83, 1);
}


.pagination-controls {
    display: flex;
    align-items: center;
}

.pagination-controls span {
    margin-right: 20px;
}

.pagination-controls button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.pagination-controls button:disabled {
    opacity: 0.5;
    cursor: default;
}

.pagination-controls button img {
    transition: transform 0.3s ease;
}

.pagination-controls button:not(:disabled):hover img {
    transform: scale(1.1);
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 70%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000; /* Ensure it covers other elements */
  }
  
  .loading-spinner img {
    width: 50px; /* Reduced size */
    height: 50px; /* Maintain aspect ratio */
  }
